<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>200</integer>
		<key>target</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>600</integer>
		<key>target</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>200</integer>
		<key>target</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>600</integer>
		<key>target</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>600</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>700</integer>
		<key>target</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>750</integer>
		<key>target</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>800</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>2</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>200</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>2</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>400</integer>
		<key>target</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>2</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>600</integer>
		<key>target</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>2</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>2</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>550</integer>
		<key>target</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>2</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>1000</integer>
		<key>target</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>2</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>200</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>50</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>0</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>444</integer>
		<key>target</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>1</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>1</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>1</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>1</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>1</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>100</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>tasktype</key>
		<integer>1</integer>
		<key>converter</key>
		<string>linear</string>
		<key>trajectory</key>
		<string>test.trajectory</string>
		<key>length</key>
		<integer>500</integer>
		<key>target</key>
		<integer>50</integer>
	</dict>
</array>
</plist>
